.page{
   width:100%;
}

.album_square{
   width: 100%;
   background-color: green;
   position:relative;
}

.album_square:after{
   content: "";
   display: block;
   padding-bottom: 100%;
}

.container {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: blue;
   display: grid;
   grid-template-areas: "a c" "b c";
   grid-template-rows: 50% 50%;
   grid-template-columns: 50% 50%;

   img {
      height: 90%;
      margin: 5%;
      padding: 2%;
      background-color: palegreen;
      border: black solid 3px;
      -o-object-fit: contain;
         object-fit: contain;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
   }
}
