@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$cursive: Satisfy;
$normal: 'Open Sans';

$light: #FBF9F9;
$accent-light: #EF9C7D;
$main: #513a4d;
$accent-dark: #DA5D34;
$dark: #272228;

$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-up: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

header, footer, li, .button {
   -webkit-box-shadow: $shadow;
           box-shadow: $shadow;
}

body {
   background-color: darken($light, 4%);
   //background-color: lighten($accent-light, 25%);
   margin: 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   min-height: 100vh;
   font-family: $normal, sans-serif;
   color: $dark;

   &::after {
      -webkit-box-flex:1;
          -ms-flex:1;
              flex:1;
      height: 100%;
      content: " ";
      -webkit-box-ordinal-group:5;
          -ms-flex-order:4;
              order:4;
   }
}

a{
   text-decoration: none;
   color: $dark;
   -webkit-transition: .2s;
   transition: .2s;
   border-bottom: dashed 2px;
   border-color: rgba(0,0,0,0);
   font-weight: 700;
}

header {
   -webkit-box-ordinal-group:2;
       -ms-flex-order:1;
           order:1;
   background-color: $main;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: end;
       -ms-flex-align: end;
           align-items: flex-end;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   padding: 1em;
   text-align: right;
   color: darken($light, 40%);

   a {
      color: $accent-light;
   }
   a:hover, a:active{
      border-color: $accent-dark;
   }

   h1 {
      margin: 0 12.5vw;
      letter-spacing: 3px;
   }
}

footer{
   -webkit-box-ordinal-group:6;
       -ms-flex-order:5;
           order:5;
   background-color: $dark;
   color: $main;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: start;
       -ms-flex-pack: start;
           justify-content: flex-start;
   a{
      display: block;
      margin: 24px;
      color: $accent-light;
   }

   a:hover, a:active {
      border-color: $accent-dark;
   }
}

#content {
   -webkit-box-ordinal-group:4;
       -ms-flex-order:3;
           order:3;
   display: grid;
   grid-template-columns: repeat(12, 1fr ) ;
   grid-column-gap: 24px;
   grid-row-gap: 24px;
   margin: 24px;
}

ul {
   grid-area: 3/2/4/12;
   display: grid;
   grid-template-columns: repeat(8, 1fr ) ;
   grid-column-gap: 24px;
   grid-row-gap: 24px;
   list-style-type: none;
   padding: 0;
   margin: 0;
}

li {
   grid-column-start: span 2;
   background-color: white;
   -webkit-transition: .5s ease;
   transition: .5s ease;
}

li:hover, li:active {
   -webkit-box-shadow: $shadow-up;
           box-shadow: $shadow-up;
}

.album_info{
   margin: 5%;
}
.thumbnail {
   height: 0;
   padding-bottom: 90%;
   width: 90%;
   background-color: $dark;
   margin: 5% auto 0 auto;
}

li.next_album {
   border: dashed 12px;
   border-color: $light;
   background-color: transparent;
   -webkit-box-shadow: none;
           box-shadow: none;
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: stretch;
       -ms-flex-align: stretch;
           align-items: stretch;
   -webkit-transition: .5s ease;
   transition: .5s ease;
   a {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      color: $accent-dark;
   }

   &:hover, &:active {
      border-color: white;

      .content{
         background-color: $accent-dark;
      }


   }
}

.square {
   margin: 30% auto;
   position: relative;
   width: 40%;
   -webkit-transition: .5s ease;
   transition: .5s ease;
   color: rgba(0,0,0,0)
}

.square::after {
   content: "";
   display: block;
   padding-bottom: 100%;
}

.content {
   position: absolute;
   width: 80%;
   height: 20%;
   top: 40%;
   left: 10%;
   background-color: lighten($accent-dark, 15%);
   border-radius: 6px;
   -webkit-transition: .5s ease;
   transition: .5s ease;
}
#up{
   height: 80%;
   width: 20%;
   top: 10%;
   left: 40%;
}

#intro{
   grid-area: 1/3/2/10;

   h2 {
      font-size: 24pt;
   }
}

#sec1{
   grid-area: 1/3/2/10;
}

#sec2{
   grid-area: 2/4/3/9;
}

.date {
   opacity: .7;
}

.fancy{
   font-family:  $cursive, cursive;
}

.album_title{
   text-transform: uppercase;
}

#title{
   border: none;
   background: none;
   font-size: 24pt;
   font-family: $cursive, cursive;
   text-align: center;
   width: 100%;
   color: $dark;
   &.edit{
      border-bottom: dashed medium $accent-dark;
   }
   &:focus {
      outline: none;
   }
}

form {
   padding: 0;
   margin: 0;
   grid-column-start: span 2;

   &#contact_form{
      grid-column-start: span 5;
      text-align: center;

      .row{
         background-color: lighten($dark, 70%);
         margin: 10px;
         padding: 10px;
         padding-bottom: 20px;
         border-radius: 5px;
      }

      #submit_button {
         background-color: $accent-light;
         padding: 16px;
         border: none;
         border-radius: 8px;
         font-weight: 700;
         font-size: 100%;
      }

      input, textarea {
         border: 0;
         border-radius: 2px;
      }
   }

   &#build_form {
      grid-area: 1/4/1/10;
   }
}
#build_button{
   grid-area: 3/6/3/8;
}
::-webkit-input-placeholder {
   color: $dark;
   opacity: .5;
}
:-ms-input-placeholder {
   color: $dark;
   opacity: .5;
}
::-ms-input-placeholder {
   color: $dark;
   opacity: .5;
}
::placeholder {
   color: $dark;
   opacity: .5;
}

.button {
   background-color: $accent-dark;
   border-radius: 8px;
   border: none;
   font-size: 24pt;
   font-weight: 400;
   color: $light;
   text-align: center;
   width: 100%;
   padding: .5em 0;
   grid-column-start: span 2;
   &:active {
      background-color: darken($accent-dark, 10%);
      -webkit-box-shadow: 0 0 0 0;
              box-shadow: 0 0 0 0;
   }
   &:focus {
      outline:0;
   }

   span{
      position: relative;
      -webkit-transition: .5s ease;
      transition: .5s ease;
      right: -10%;
      width: 100%;
      display: block;
      i {
         position: relative;
         opacity: 0;
         -webkit-transition: 0.5s ease;
         transition: 0.5s ease;
         right: 20%;
      }
   }

   &:hover span{
      position: relative;
      right: 0;
      i{
         opacity: 1;
         right: 0%;
      }
   }
}

#build {
   grid-area: 2/6/3/8;
}

#img_inputs{
   grid-area: 2/2/3/12;
   text-align: center;
}

input[type="file"]{
   display: block;
   margin: 5px auto;
   background-color: $accent-light;
   border-radius:6px;
   padding: 2px;
   grid-column: 6/7;
}

.img_remove{
   position: relative;
   display: inline-block;
   border: white solid 3px;
   margin: 5px;
   overflow: hidden;
   -webkit-box-shadow: $shadow;
           box-shadow: $shadow;
   img{
      height: 100px;
      -webkit-transition: .5s;
      transition: .5s;
      -webkit-filter: blur(0px);
              filter: blur(0px);
      overflow: hidden;
   }

   &::before{
      content: "";
      position: absolute;
      width:100%;
      height: 100%;
      background-color:rgba(0, 0, 0, 0);
      z-index: 2;
      -webkit-transition: 1s ease;
      transition: 1s ease;
   }

   &::after {
      position: absolute;
      content: "\f014";
      top: 20%;
      left:0;
      width:100%;
      text-align: center;
      font-family: fontawesome;
      font-size: 200%;
      color: white;
      opacity: 0.0;
      -webkit-transition: 1s ease;
      transition: 1s ease;
      z-index: 3;

   }
   &:hover{
      img {
         -webkit-filter: blur(.5px) ;
                 filter: blur(.5px) ;
      }
      &::after {
         opacity: 1.0;
      }
      &::before {
         background-color: rgba(0, 0, 0, 0.5);
      }
   }
}

.message{
   grid-column: 4/10;
   text-align: center;
}

.warning{
   grid-row: 4;
   color: $accent-dark;
}

.message a {
   font-weight: 400;
   color: $accent-dark;
   text-decoration: underline;
}

.arrow {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   grid-column: span 1;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   font-size: 300%;
   -webkit-transition: .5s;
   transition: .5s;
   opacity: 0.5;
   margin: 24px 0;
   border-radius: 6px;
   grid-row: 2;
   &:hover {
      opacity: 1.0;
   }
   background-color: $accent-light;

}

#album {
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   grid-column: 2/12;
   grid-row: 2;
   background-color: grey;
   overflow: hidden;
   margin: 24px 0;
   border: 3px solid $dark;
   border-right-width: 12px;
   border-left-width: 12px;
   border-radius: 6px;
}

.page{
   -ms-flex-negative: 0;
       flex-shrink: 0;
   width:50%;
   position: relative;
   left: 0%;
}

.album_square{
   width: 100%;
   background-color: green;
   position:relative;
}

.album_square:after{
   content: "";
   display: block;
   padding-bottom: 100%;
}

.container {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: blue;
   display: grid;
}
.resizer{
   padding: .5vw;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;

}
.border{
   padding: 1vw;
   background-color: palegreen;
   border: black solid .3vw;
   max-width: 95%;
   max-height: 95%;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;

  img {
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
        object-fit: contain;
    -webkit-box-shadow: $shadow;
             box-shadow: $shadow;
  }
}
#browser_warning {
   -webkit-box-ordinal-group:3;
       -ms-flex-order:2;
           order:2;
   text-align: center;
   border: $accent-dark 3px solid;
   margin: 12px;
   padding: 3px;
   font-weight: 400;
   border-radius: 6px;
}

.note {
   color: $main;
   font-size: 75%;
}
