{% extends 'base.html.j2' %}

{% block content %}
   <h2 id = "sec1"> About </h2>
   <div id = "sec2">
   This project was created as a final assignment for Tufts University CS150: Cloud Applications.
</br>
   This project on GitHub: <a href="https://github.com/AnaArsovska/LazyCloudAlbum"><i class="fa fa-github" aria-hidden="true" style="font-size: 400%;"></i></a>
   </div>
{% endblock %}
