{% extends 'base.html.j2' %}

{% block head %}

<script>
$(function(ready){
   function check_if_albums_ready() {
      var not_ready = $(".not_ready");
      not_ready.each(function() {
         var xhr = new XMLHttpRequest();
         xhr.open('POST', $(this).attr("checkready"));
         xhr.onload = function () {
            if (xhr.status == 200) {
               location.reload();
            }
         };
         xhr.send();
      });

      if (not_ready.length > 0) {
         setTimeout(check_if_albums_ready, 3000);
      }
   }
   check_if_albums_ready();
   
});

</script>

{% endblock %}

{% block content %}
   <h2 id = "sec1">Your Albums </h2>
   <ul>
      <li class = "next_album">
         <a href="/create">
            <div class = "square"><div class = "content"> + </div> <div class = "content" id="up"> + </div></div>
         </a>
      </li>
      {% for album in albums%}
         <li {%if not album.ready %} class="not_ready" checkready="/edit/ready/{{album.key.urlsafe()}}" {% endif %}>
            <a {%if album.ready%} href="/view/{{album.key.urlsafe()}}" {% endif %}>
               <div class = "thumbnail"
                  {% if album.ready %}
                     style="background-image:url({{album.thumbnail_url}}); background-size: cover;"
                  {% endif %}>

               </div>
               <div class = "album_info">
                  <div class = "album_title">{{album.title}}</div>
                  <div class="date fancy">{{album.creation_date.day}}-{{album.creation_date.month}}-{{album.creation_date.year}}</div>
               </div>
            </a>
         </li>
      {% endfor %}
   </ul>
{% endblock %}
