{% extends 'base.html.j2' %}

{% block content %}
   <h2 id = "sec1"> Something went wrong!</h2>

   <div id = "sec2">
   An unexpected error occurred while creating a new album. Please try again.
   </div>

{% endblock %}
