<html>
<head>
   <title>Lazy Album</title>
   <link rel="stylesheet" type="text/css" href="/static/styles.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" type="text/javascript"></script>
   <script src="https://use.fontawesome.com/c85dd1df98.js"></script>
   <script src="https://www.cloudformatter.com/Resources/Pages/CSS2Pdf/Script/xepOnline.jqPlugin.js"></script>
{% block head %}{%- endblock %}
</head>
<body>
   <header>
      <h1 class="fancy"><a href="/"> EAM  </a></h1>
      <span> {% if user %} Welcome, {{ user.nickname() }}</br> <a href={{logout_url}}> log out </a>
         {% else %}
            <a href={{login_url}}> Log in/Register </a>
         {% endif %}
      </span>
   </header>
   <div id = "content">
      {% block content %}{%- endblock %}
   </div>
   <footer>
      <a href="/about"> About </a>
      <a href="/how_to"> How To </a>
      <a href="/contact"> Contact </a>
   </footer>
</body>
</html>
