{% extends 'base.html.j2' %}

{% block content %}

<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
   <input name="title" id="title" type="text" class="edit"
   placeholder="Untitled Album" />
   <br>
   Upload image: <input type="file" name="file"><br/>
   <br/>
   <input type="submit" value="Build" />
</form>

{% endblock %}
