{% macro button(id, symbol, text, action, method = "post", form = "") %}
   <form class = "button" method={{method}} action={{action}}>
     <button id = {{id}} > <span> {{text}} <i class="fa {{symbol}}" aria-hidden="true"></i> </span></button>
  </form>
{% endmacro %}
