{% extends 'base.html.j2' %}

{% block content %}
   <h2 id = "sec1">We're still working on your album</h2>

   <div id = "sec2">
   You'll receive an email when we're done putting it together.
   </div>

{% endblock %}
