{% extends 'base.html.j2' %}

{% block content %}
   <h2 id = "sec1"> This album is private. </h2>

   <div id = "sec2">
   In order to view this album, the owner will need to mark it as public.
   </div>

{% endblock %}
