{% extends 'base.html.j2' %}

{% block content %}
<h3 id="sec2"> Click the plus to get started!</h3>
   <ul>
      <li class = "next_album">
         <a href="/create" style="padding-bottom: 4em;">
            <div class = "square"><div class = "content"> + </div> <div class = "content" id="up"> + </div></div>
         </a>
      </li>
   </ul>

{% endblock %}
