{% extends 'base.html.j2' %}
{% import 'createButton.html.j2' as button %}

{% block content %}
{% if album.key.parent().get().user_id == user.user_id() %}
<form class = "edit" action="/edit/{{album.key.urlsafe()}}" method="post">
   <input name="title" id="title" type="text" class="edit"
   value={{album.title}}>
   <input type="checkbox" id="public" {%if album.public%} checked {%endif%}>
   <label for="public">Public</label>
   <button type="submit"> Save </button>
</form>

{{ button.button("delete", "fa-trash-o","Delete", "/edit/delete/"+album.key.urlsafe() ) }}

{% else %}
<h2 id = "sec1"> {{album.title}}</h2>
{% endif %}

<a href="#" onclick="return xepOnline.Formatter.Format('album',{render:'download', filename:'Your Lazy Album'});">
   {{ button.button("pdf", "fa-floppy-o","PDF", "") }}
</a>
<div class = "arrow left"><i class="fa fa-chevron-left"></i> </div>
<div id = "album">
   {{saved_html}}
</div>
<div class = "arrow right"><i class="fa fa-chevron-right"></i> </div>

<script type="text/javascript">

function getPagesHTML(view_num) {
   if (typeof getPagesHTML.image_urls == 'undefined') {
      getPagesHTML.image_urls = {{ images|safe }};
   }
}

function updateAlbum(dir) {
   // Declares view_num and num_images as "static" variables
   if (typeof updateAlbum.view_num == 'undefined') {
      updateAlbum.view_num = 0;
   }
   if (dir){
      updateAlbum.view_num += 1;
   } else {
      updateAlbum.view_num -= 1;
   }
   $(".page").animate({"left": 50*2*updateAlbum.view_num + "%"}, "slow");
   console.log(updateAlbum.view_num);
}

$(".arrow").click( function(){
   if ($(this).hasClass("right")){
      updateAlbum(false); //move to right pages
   } else {
      updateAlbum(true); //move to left pages
   }
});

</script>


{% endblock %}
