{% extends 'base.html.j2' %}
{% import 'createButton.html.j2' as button %}

{% block content %}
   {% if album.key.parent().get().user_id == user.user_id() %}
      <form class = "edit" action="/edit/{{album.key.urlsafe()}}" method="post">
         <input name="title" id="title" type="text" class="edit"
         value={{album.title}}/>
         <input type="checkbox" id="public" {%if album.public%} checked {%endif%}>
         <label for="public">Public</label>
         <button type="submit"> Save </button>
      </form>

      {{ button.button("delete", "fa-trash-o","Delete", "/edit/delete/"+album.key.urlsafe() ) }}

   {% else %}
      <h2 id = "sec1"> {{album.title}}</h2>
   {% endif %}

   <a href="#" onclick="return xepOnline.Formatter.Format('album',{render:'download', filename:'Your Lazy Album'});">
      {{ button.button("pdf", "fa-floppy-o","PDF", "") }}
   </a>

   
   <div id = "album">
      {% if images %}
            {% for image in images%}
                  <img src="{{image}}" />
            {% endfor %}

      {% else %}
            <p> No image uploaded </p>
      {% endif %}
   </div>

    <a href="#" onclick="return xepOnline.Formatter.Format("",{render:'download'});">
                   <img src="PrintIcon.jpg">
    </a>

   <p> {{album.html}} </p>

   <div id = "album">
      {% if images %}
            {% for image in images%}
                  <img src="{{image}}" />
            {% endfor %}

      {% else %}
            <p> No image uploaded </p>
      {% endif %}
   </div>
   <p> {{album.html}} </p>

   
   <p id = "sec2">(Album)</p>

{% endblock %}
