{% extends 'base.html.j2' %}

{% block content %}
<div id = "intro">
        <h2>Welcome to Lazy Cloud Album</h2>
        <p>To make a lazy album, all you have to do is upload your pictures and we'll worry about the layout, color, and patterns (and sometimes stickers!).</p>

        <p>Check out an <a href = "http://lazycloudalbum.appspot.com/view/ahBkfmxhenljbG91ZGFsYnVtcjQLEgdBY2NvdW50IhUxMDg1NTU4NTUxMDc3NTQ3NDE4NjIMCxIFQWxidW0YgICAgPCTmAkM">example album</a>!</p>
        <p>Login/register to get started making your own.</p>
        </div>
{% endblock %}
